@charset "utf-8";
/* CSS Document */
.black_overlay{
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:0.80;
    filter: alpha(opacity=80);
	text-align:right;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.white_borde {
	/*display:none;*/
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	background:#3C8DBC;
	position:fixed;
	top: 15%;
    left: 15%;
    width: 82%;
    height: 76%;
	z-index:1002;
	opacity:0.6;
	}
.white_content {
	border:2px solid #367fa9;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	position:fixed;
	top:17%;
	left:16%;
	height:72%;
	width:80%;
    background-color:white;
    z-index:1003;
    overflow:auto;
	}
.white_borde1 {
	/*display:none;*/
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	background:#5f91ac;
	position:fixed;
	top: 15%;
    left: 15%;
    width: 72%;
    height: 76%;
	z-index:1002;
	opacity:0.8;
	}
.white_content1 {
	border:2px solid #367fa9;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	position:fixed;
	top:17%;
	left:16%;
	height:72%;
	width:70%;
    background-color:white;
    z-index:1003;
    overflow:auto;
	}
.autor {
	font-size:10px;
	font-family:Tahoma, Geneva, sans-serif;
	}	